# Node Modules
node_modules/

# Secrets & Keys 
.env
*.pem

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup

# Frontend build
dist/

# Logs (Security ke liye zaroori)
logs
*.log
npm-debug.log*

# OS & Editor Files 
.DS_Store
.vscode/
.idea/